body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}
header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 64px;
    /* max-width: 1280px; */
    padding: 8px 48px;
    justify-content: center;
    align-items: center;
    background: #fefefe;
    box-shadow: 0px 4px 32px 0px rgba(30, 30, 30, 0.06);
    /* left: 50%;
    transform: translateX(-50%); */
    z-index: 1000;

}

.conteudo-centralizado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.conteudo-centralizado img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}
.home-button {
    position: absolute;
    right: 5rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-button svg {
    fill: #0b442b;
    width: 100%;
    height: 100%;
}
.table-container {
    width: calc(100% - 6rem); /* recuo de 3rem em cada lado */
    margin: 2rem auto;
    background-color: #fff;
    padding: 1rem;
    border-radius: 4px; /* cantos arredondados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 1px solid #ccc;
    margin-top: 100px;
}
form {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
form select,
form button[type="submit"] {
    background-color: #0b442b;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}
th,
td {
    padding: 1rem;
    text-align: center;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #0b442b;
    color: #fff;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
}
th:last-child,
td:last-child {
    border-right: none;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
.no-data {
    color: #999;
}

